<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Megrim&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script th:src="@{/js/script.js}"></script>

</head>
<body>

<!--    <div class="fullscreen-bg" th:fragment="background">-->
<!--        <video loop muted autoplay class="fullscreen-bg__video">-->
<!--            <source th:src="@{/video/nameOfTheVideo.mov}" type="video/mp4">-->
<!--        </video>-->
<!--    </div>-->

    <header th:fragment="header">


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Home</a>
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Check reward points</a>
                    </li>
                </ul>
<!--                <form class="form-inline">-->
<!--                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>-->
<!--                </form>-->
            </div>
        </nav>


<!--        <h1><a th:href="@{/}">Welcome to the Matthews Reward record application</a></h1>-->
    </header>

    <footer th:fragment="disclaimer">
<!--        For Bobalo family use only.-->
    </footer>

</body>
</html>