<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/frags :: head"></head>

<body>
    <div>

        <div th:insert="fragments/frags :: header"></div>
            <div>
                <div>
                    <h3>Lets see how you did today <a th:text="${timeNow}">time</a></h3>
                </div>
                <div>
                    <label for="checkbox1">Custom checkbox 1</label>
                    <input type="checkbox" id="checkbox1">
                </div>
                <div>
                    <label for="checkbox2">Custom checkbox 2</label>
                    <input type="checkbox" id="checkbox2">
                </div>
                <div>
                    <label for="checkbox3">Custom checkbox 3</label>
                    <input type="checkbox" id="checkbox3">
                </div>

            </div>



<!--            <div th:replace="fragments/frags :: background"></div>-->


        <div th:replace="fragments/frags :: disclaimer"></div>
    </div>
</body>
</html>