<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/frags :: head"></head>

<body>
    <div>

        <div th:insert="fragments/frags :: header"></div>
            <div>
                <div>
                    <h3> Lets see how you did today
                        <span th:text="${#temporals.format(#temporals.createNow(), 'MM-dd-yyyy')}">DATE</span>
                    </h3>
                </div>
                <div>
                    <label for="checkbox1">Checkbox 1</label>
                    <input type="checkbox" id="checkbox1">
                </div>
                <div>
                    <label for="checkbox2">Checkbox 2</label>
                    <input type="checkbox" id="checkbox2">
                </div>
                <div>
                    <label for="checkbox3">Checkbox 3</label>
                    <input type="checkbox" id="checkbox3">
                </div>

            </div>

        <div th:if="${not #lists.isEmpty(logOutput)}">
            <h2>Log Output</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name of the resource</th>
                    <th>Error</th>
                    <th>Description</th>
                </tr>
                <tr th:each="pr : ${logOutput}">
                    <td th:text="${pr.id}"></td>
                    <td th:text="${pr.resourceName}"></td>
                    <td th:text="${pr.error}"></td>
                    <td th:text="${pr.description}"></td>
                </tr>
            </table>
        </div>

<!--            <div th:replace="fragments/frags :: background"></div>-->


        <div th:replace="fragments/frags :: disclaimer"></div>
    </div>
</body>
</html>