<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/frags :: head"></head>

<body>
    <div>
        <div th:insert="fragments/frags :: header"></div>

        <p th:text="'Name: ' + ${logOutput.resourceName}" />
        <p th:text="'Occupation: ' + ${logOutput.error}" />
        <p th:text="'Occupation: ' + ${logOutput.description}" />

        <a href="/testinput">Submit another test</a>

    </div>
    <div th:replace="fragments/frags :: disclaimer"></div>

</body>
</html>