<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/frags :: head"></head>
    <body>
    <div th:insert="fragments/frags :: header"></div>
    <div>
        <form action="#" th:action="@{/testinput}" th:object="${logOutput}" method="post">
            <p>
                Name of resource: <input type="text" th:field="*{resourceName}">
            </p>
            <p>
                Error: <input type="text" th:field="*{error}">
            </p>
            <p>
                Description: <input type="text" th:field="*{description}">
            </p>
            <p>
                <input type="submit" value="Submit"/> <input type="reset" value="Reset">
            </p>
        </form>
    </div>
    </body>

</html>